# !!! CHANGE THESE VALUES !!!
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=toor
MYSQL_USER=symfony
MYSQL_PASSWORD=password
MYSQL_DATABASE=termsgenius
DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db:${MYSQL_PORT}/${MYSQL_DATABASE}